# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.env*.local
.env
.vs/vercel-db/FileContentIndex/53dd6c97-2c92-46a3-92ee-8cbe77fb8900.vsidx
.vs/slnx.sqlite
.vs/vercel-db/FileContentIndex/5a33fa0d-bfdf-4b93-8575-20f37ad9ad3a.vsidx
.vs/vercel-db/FileContentIndex/c8fd3fc2-e843-4ee2-b9e1-43ecf1bf8bbe.vsidx
.vs/vercel-db/v17/.wsuo
.vs/vercel-db/FileContentIndex/5b7d78af-a0a1-4c58-a603-ba950161a936.vsidx
.vs/vercel-db/FileContentIndex/20a75d71-432f-43be-9786-a91e3860c787.vsidx
