/* styles.module.css */
.formgroup {
    display: flex; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
    width: 200px;
    height:200px;
    margin:20px;
   
}

.title{
    display: flex; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
}

.inputfield {
   
    display: flex; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
    margin:20px;
    align-items: center;
   
}

.button {
    display: flex; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
   
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.poems{
    display: grid; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
      
}





.images{
    display: grid; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center; /* Use justify-content to center horizontally */
    width:150px
}



.recipes {
        width: 100%; /* Set the container's width to 100% of its parent or viewport */
        max-width: 1200px; /* Optional: Set a maximum width to control the container's width on larger screens */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px; /* Optional: Add padding to the container */
        box-sizing: border-box; /* Include padding and border in the width calculation */      
}

.rec {
    align-self: stretch; 
    
    color: black; 
    font-size: 16px; 
    font-family: Heebo; 
    font-weight: 400; 
    word-wrap: break-word;
    width: 100%; 

    
}

.text {
    text-align: center; 
    display: block;
}

.h1{
    display: grid; /* Add this to establish a flex container */
    align-items: center;
    justify-content: center;
  margin-bottom:30px;
 
}






.picture{
    width: 250px; 
    height: auto;
}


.container{
     width: 100%;
     height: 100%; 
     position: absolute;
     background:rgb(104, 219, 248);
}

.firstBox{
    background:rgb(104, 219, 248);
    width: 100%; 
    height: auto; 
    left: 0px;
     top: 0px; 
     
      flex-direction: column;
       justify-content: center;
        align-items: center;
         gap: 41px;
          display: inline-flex
        }


.secondBox{
    align-self: stretch;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.thirdBox{
    flex: 1 1 0;
    height: 250px;
     justify-content: center; 
     align-items: center; 
     gap: 10px; 
     display: flex
}

.column{
    flex: 1 1 0; 
    flex-direction: column;
     justify-content: center; 
     align-items: flex-start; 
     gap: 15px; 
     display: inline-flex
}

.ttext{
    align-self: stretch; 
    color: black;
     font-size: 32px;
      font-family: Heebo;
       font-weight: 500;
        word-wrap: break-word
}

.tttext{
    max-width: 600px;
     color: black;
      font-size: 16px;
       font-family: Heebo;
        font-weight: 400;
         word-wrap: break-word
}

.finalBox{
    
      
        position: absolute
}

.label{
    margin-bottom: 50px;
}

.test{
    margin-bottom:50px;
}

.prepTime{
    max-width: 120px;
     color: black;
      font-size: 16px;
       font-family: Heebo;
        font-weight: 400;
         word-wrap: break-word
}
