@import "tailwindcss/base";
@import "tailwindcss/utilities";

body {
    color:rgb(236, 170, 170);
    background-color:rgb(255, 255, 255);
}

[data-theme="dark"] body {
    background-color:rgb(24, 18, 31);
    color:white;
}